<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MedHub</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">

        {% load static %}


        <!-- Favicon -->
        <link href="{% static 'medhub/images/favicon.ico" rel="icon">


        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'medhub/lib/slick/slick.css' %}" rel="stylesheet">
        <link href="{% static 'medhub/lib/slick/slick-theme.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->



        <link rel="stylesheet" href="{% static 'medhub/css/style.css' %}">


    </head>

<body>



<!-- Brand Start -->
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img src="{% static 'medhub/images/brand-1.png' %}" alt=""></div>
            <div class="brand-item"><img src="{% static 'medhub/images/brand-2.png' %}" alt=""></div>
            <div class="brand-item"><img src="{% static 'medhub/images/brand-3.png' %}" alt=""></div>
            <div class="brand-item"><img src="{% static 'medhub/images/brand-4.png' %}"></div>
            <div class="brand-item"><img src="{% static 'medhub/images/brand-5.png' %}"></div>
            <div class="brand-item"><img src="{% static 'medhub/images/brand-6.png' %}"></div>
        </div>
    </div>
</div>
<!-- Brand End -->

<main id="main-container">

</main>

 <!-- Newsletter Start -->
 <div class="newsletter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>Subscribe Our Newsletter</h1>
            </div>
            <div class="col-md-6">
                <div class="form">
                    <input type="email" placeholder="Your email here">
                    <button>Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter End -->

  <!-- Footer Start -->
  <div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Get in Touch</h2>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>Medhub Store, Kathmandu, Nepal</p>
                        <p><i class="fa fa-envelope"></i>medhub@gmail.com</p>
                        <p><i class="fa fa-phone"></i>+977-9860586149</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Follow Us</h2>
                    <div class="contact-info">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Company Info</h2>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Purchase Info</h2>
                    <ul>
                        <li><a href="#">Payment Policy</a></li>
                        <li><a href="#">Shipping Policy</a></li>
                        <li><a href="#">Return Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row payment align-items-center">
            <div class="col-md-6">
                <div class="payment-method">
                    <h2>We Accept:</h2>
                    <img src="{% static 'medhub/images/payment-method.png' %}" alt="Payment Method"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="payment-security">
                    <h2>Secured By:</h2>
                    <img src="{% static 'medhub/images/godaddy.svg' %}" alt="Payment Security" />
                    <img src="{% static 'medhub/images/norton.svg' %}" alt="Payment Security" />
                    <img src="{% static 'medhub/images/ssl.svg' %}" alt="Payment Security" />

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright &copy; <a href="https://htmlcodex.com">2021</a>. All Rights Reserved</p>
            </div>

           
        </div>
    </div>
</div>
<!-- Footer Bottom End -->

<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

<script src="{% static 'medhub/lib/easing/easing.min.js' %}" ></script>
<script src="{% static 'medhub/lib/slick/slick.min.js' %}" ></script>


<script src="main.js"></script>
<script src="{% static 'medhub/main.js' %}" ></script>

 <!-- Template Javascript -->
 <script src="{% static 'medhub/js/main.js' %}"></script>

</body>
</html>