
@media(min-width: 992px) {
    .container-fluid {
        padding-right: 60px;
        padding-left: 60px;
    }
}


/**********************************/
/******** Back to Top CSS *********/
/**********************************/
.back-to-top {
    position: fixed;
    display: none;
    background: #FF6F61;
    color: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 4px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #ffffff;
}



/**********************************/
/********* Newsletter CSS *********/
/**********************************/
.newsletter {
    position: relative;
    padding: 30px 2px;
    background: #6495ED;
    height:80px;
}

.newsletter h1 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 50px;

}

.newsletter .form {
    position: relative;
    max-width: 400px;
    margin: 0 0 0 auto;
}

.newsletter .form input {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.newsletter .form button {
    position: absolute;
    width: 80px;
    height: 40px;
    top: 0;
    right: 0;
    padding: 0 15px;
    border: none;
    background: #FF6F61;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0 4px 4px 0;
}

.newsletter .form button:hover {
    color: #FF6F61;
    background: #000000;
}

@media (max-width: 767.98px) {
    .newsletter {
        text-align: center;
    }
    
    .newsletter h1 {
        margin-bottom: 20px;
    }
    
    .newsletter .form {
        margin: 0 auto;
    }
}


/**********************************/
/*********** Brand CSS ************/
/**********************************/
.brand {
    position: relative;
    margin-bottom: 30px;
    padding: 30px 0;
    background: #ffffff;
}

.brand .brand-item {
    text-align: center; 
}

.brand .brand-item img {
    max-width: 100%;
    margin: auto; 
}

.brand .slick-prev,
.brand .slick-next {
    width: 30px;
    height: 30px;
    z-index: 1;
    opacity: 0;
    transition: .5s;
    background: #FF6F61;
    border-radius: 4px;
}

.brand .slick-prev {
    left: 55px;
}

.brand .slick-next {
    right: 55px;
}

.brand .slick-slider:hover .slick-prev {
    left: 15px;
    opacity: 1;
}

.brand .slick-slider:hover .slick-next {
    right: 15px;
    opacity: 1;
}

.brand .slick-prev:hover,
.brand .slick-prev:focus,
.brand .slick-next:hover,
.brand .slick-next:focus {
    background: #000000;
}

.brand .slick-prev:hover::before,
.brand .slick-prev:focus::before,
.brand .slick-next:hover::before,
.brand .slick-next:focus::before {
    color: #FF6F61;
}

.brand .slick-prev::before,
.brand .slick-next::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    color: #000000;
}

.brand .slick-prev::before {
    content: "\f104";
}

.brand .slick-next::before {
    content: "\f105";
}


/**********************************/
/*********** Review CSS ***********/
/**********************************/
.review {
    margin-bottom: 30px;
}

.review .review-slider {
    position: relative;
}

.review .review-slider-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #ffffff;
}

.review .review-img {
    width: 100%;
    max-width: 200px;
    overflow: hidden;
}

.review .review-img img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.review .review-text {
    padding: 15px;
    width: 100%;
    max-width: calc(100% - 200px);
}

.review .review-text h2 {
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.review .review-text h3 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.review .review-text p {
    margin: 0;
}

.review .review-text .ratting {
    margin-bottom: 5px;
}

.review .review-text .ratting i {
    color: #FF6F61;
    font-size: 14px;
}

.review .slick-slider:hover .slick-prev {
    left: 30px;
}

.review .slick-slider:hover .slick-next {
    right: 30px;
}


/**********************************/
/********** Contact CSS ***********/
/**********************************/
.contact {
    position: relative;
    padding-top: 30px;
}

.contact .contact-info,
.contact .contact-form,
.contact .contact-map {
    height: 100%;
    padding: 30px;
    background: #ffffff;
    border-bottom: 30px solid #f3f6ff;
}

.contact .contact-info h2 {
    margin-bottom: 15px;
}

.contact .contact-info h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.contact .contact-info h3 i {
    width: 20px;
    color: #FF6F61;
    margin-right: 5px;
}

.contact .social {
    position: relative;
    width: 100%;
}

.contact .social a {
    display: inline-block;
    margin: 10px 10px 0 0;
    width: 40px;
    height: 40px;
    padding: 5px 0;
    text-align: center;
    font-size: 18px;
    border: 1px solid #FF6F61;
    border-radius: 4px;
}

.contact .social a i {
    color: #FF6F61;
}

.contact .social a:hover {
    background: #FF6F61;
}

.contact .social a:hover i {
    color: #ffffff;
}

.contact .contact-map iframe {
    width: 100%;
    height: 450px;
}


/**********************************/
/****** Register & Login CSS ******/
/**********************************/
.login {
    position: relative;
    padding-top: 30px;
}

.login .login-form,
.login .register-form {
    padding: 30px;
    background: #ffffff;
    margin-bottom: 30px;
}


/**********************************/
/********** Footer CSS ************/
/**********************************/
.footer {
    position: relative;
    padding: 30px 0 0 0;
    background-color: aliceblue;
}

.footer .footer-widget {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.footer .footer-widget h2 {
    font-size: 25px;
    white-space: nowrap;
    margin-bottom: 20px; 
}

.footer .footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .footer-widget ul li {
    margin-bottom: 12px; 
}

.footer .footer-widget ul li:last-child {
    margin-bottom: 0; 
}

.footer .footer-widget ul li a {
    color: #353535;
    white-space: nowrap;
    display: block;
    line-height: 23px;
    transition: all .3s;
}

.footer .footer-widget ul li a::before {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 5px;
}

.footer .footer-widget ul li a:hover {
    color: #FF6F61;
}

.footer .footer-widget ul li a:hover::before {
    content: '\f101';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.footer .contact-info p {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer .contact-info p i {
    margin-right: 5px;
}

.footer .social {
    position: relative;
    width: 100%;
}

.footer .social a {
    display: inline-block;
    margin: 10px 5px 0 0;
    width: 40px;
    height: 40px;
    padding: 6px 0;
    text-align: center;
    font-size: 18px;
    color: #353535;
    border: 1px solid #353535;
    border-radius: 4px;
    transition: all .3s;
}

.footer .social a:hover {
    color: #FF6F61;
    border-color: #FF6F61;
}

.footer .payment {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(0,0,0,.1);
}

@media (min-width: 992px) {
    .footer .payment {
        max-width: 80%;
        margin: 0 auto;
    }
}

.footer .payment-method,
.footer .payment-security {
    overflow: hidden;
}

.footer .payment-method {
    text-align: left;
}

.footer .payment-security {
    text-align: right;
}

@media (max-width: 768.98px) {
    .footer .payment-method {
        margin-bottom: 15px;
    }
    
    .footer .payment-method,
    .footer .payment-security {
        text-align: center; 
    } 
}

.footer .payment-method h2,
.footer .payment-security h2 {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.footer .payment-method img,
.footer .payment-security img {
    height: 25px;
}


/**********************************/
/******** Footer Bottom CSS *******/
/**********************************/
.footer-bottom {
    position: relative;
    padding: 25px 0;
    background: #000000;
}

.footer-bottom .copyright {
    text-align: left;
}

.footer-bottom .template-by {
    text-align: right;
}

.footer-bottom .copyright p,
.footer-bottom .template-by p {
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

.footer-bottom .copyright p a,
.footer-bottom .template-by p a {
    font-weight: 600;
}

.footer-bottom .copyright p a:hover,
.footer-bottom .template-by p a:hover {
    color: #ffffff;
}

@media (max-width: 768.98px) {
    .footer-bottom .copyright,
    .footer-bottom .template-by {
        text-align: center; 
    } 
}

